@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


.scanPicFooter{
    width: 100px;
    cursor: pointer;
    padding-top: 30px;
    background-color: seashell;
}

footer{
    height: 300px;
    
    font-family: "Lato" , sans-serif;
}

.footerPart1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(12, 12, 12, 0.8);
    color: seashell;
}

.footerMainColumn{
    margin-left: 30px;
}

.footerMainColumn li{
    list-style: none;
    cursor: pointer;
    padding-top: 10px;
    font-family: "Lato" , sans-serif;
    color: seashell;
}

ul{
    font-family: "Lato" , sans-serif;
    font-weight: 900;
    color: seashell;
}
.links{
    margin-right: 100px;
}
.footerMainRow{
    display: flex;
    flex-direction: row;
}

.footerpart2 {
    width: 100%;
    padding: 3px ;
    font-family: "Lato" , sans-serif;
    color: rgb(0, 0, 0);
    
}

.footerpart2 h3{
    justify-content: center;
    cursor: pointer;
}

span{
    height: 15px;
    width: 2px;
    background-color: red;
    display: inline-block;
    
    
}