@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

header{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
    background-color: #967f57;
    width: 100%;
    z-index: 1;
}

.logo{
    width: 100px;
    object-fit: cover;
    margin-left: 20px;
}

.nav-list{
    list-style: none;
    cursor: pointer;
}

.nav-list li{
    display: inline-block;
    padding: 10px 20px;
    height: 30px;
}

.nav-list li a {
    transition: all 0.3s ease 0s;
}

.nav-list li:hover {
    background-color: rgb(2, 2, 2,0.5);
    color: rgb(2, 2, 2);
}

li, a{
    font-family: "Lato" , sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}